.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 17px 0 0 18px;
  background-image: url(../../../images/Edit-Button.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid white;
  border: none;
  cursor: pointer;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding-left: 10px;
    display: block;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 10px;
  }
}
