.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 36px 60px 36px 36px;
  margin: 0;
  border: 0;
  position: relative;
  /* realative? */
}

@media screen and (max-width: 580px) {
  .form__fieldset {
    padding: 25px 22px;
  }
}
