.profile__container {
  max-width: 100%;
  display: flex;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .profile__container {
    max-width: 282px;
    align-items: flex-start;
    justify-items: center;
  }
}
