.elements__container {
  padding: 25px 15px 31px 21px;
  max-height: 79px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  margin: 0;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .elements__container {
  }
} */
